$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    //ALL LOGOS
    .logo {
      display: flex;
      align-items: center;
      width: 120px;

      img {
        width: 70px;
        height: 70px;
      }

      span {
        font-size: 24px;
        font-weight: 500;
        margin-left: -15px;
        font-family: cursive;
      }
    }

    //ALL LINKS
    .link {
      text-decoration: none;
      color: inherit;
    }

    // Auth
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    // Navbar
    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
          display: flex;
          gap: 10px;
          align-items: center;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }
  }
}
