@import "./responsiveness.scss";
$lightGreen: rgb(9, 228, 228);

.app {
  display: flex;
  justify-content: center;
  @include mobile {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include smallScreen {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container {
    width: 1024px;
    @include mobile {
      width: 100%;
    }

    @include smallScreen {
      width: 100%;
    }

    //ALL LINKS
    .link {
      text-decoration: none;
      color: inherit;
    }

    // Auth
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        @include mobile {
          padding: 30px;
          gap: 40px;
        }

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    // Navbar
    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .thisDiv {
          display: flex;
          align-items: center;
          justify-content: center;

          .span {
            color: $lightGreen;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: none;

            @include smallScreen {
              display: none;
            }
            @include mobile {
              display: block;
            }
          }

          .logo {
            display: flex;
            align-items: center;
            width: 120px;

            @include mobile {
              width: 60px;
            }

            img {
              width: 70px;
              height: 70px;

              @include mobile {
                width: 40px;
                height: 40px;
              }
            }

            span {
              font-size: 24px;
              font-weight: 500;
              margin-left: -15px;
              font-family: cursive;

              @include smallScreen {
                font-size: 20px;
              }
              @include mobile {
                font-size: 18px;
                margin-left: -8px;
              }
            }
          }
        }

        .links {
          display: flex;
          gap: 10px;
          align-items: center;

          .left {
            display: flex;
            gap: 10px;
            align-items: center;

            @include smallScreen {
              gap: 7px;
            }
            @include mobile {
              display: none;
            }

            h6 {
              color: whitesmoke;
              padding: 8px 10px;
              border: 1px solid $lightGreen;
              background-color: $lightGreen;
              font-size: 16px;
              font-weight: 700;
              border-radius: 10px;

              @include smallScreen {
                padding: 5px 7px;
                font-size: 13px;
              }

              &:hover {
                background-color: white;
                color: $lightGreen;
              }
            }
            .active {
              color: $lightGreen;
              padding: 8px 10px;
              background-color: white;
              border: 1px solid $lightGreen;
              font-size: 16px;
              font-weight: 700;
              border-radius: 10px;
            }
          }
          .user {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            span {
              cursor: pointer;
              font-weight: 700;

              @include smallScreen {
                display: none;
              }
              @include mobile {
                display: none;
              }
            }
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            border: 1px solid white;
            color: white;
            letter-spacing: 1.5px;
            text-align: center;

            @include mobile {
              display: none;
            }

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    // FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;

      .logo {
        height: 50px;
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }

        span {
          font-size: 15px;
          font-weight: 500;
          margin-left: -10px;
          font-family: cursive;
        }
      }
    }

    //HOME
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;
          align-items: center;

          @include mobile {
            flex-direction: column;
            gap: 50px;
            margin-bottom: 0px;
          }

          &:nth-child(2n + 1) {
            display: flex;
            flex-direction: row-reverse;

            @include mobile {
              flex-direction: column;
            }
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between !important;
            gap: 20px;

            h1 {
              font-size: 30px;
            }

            p {
              font-size: 15px;
              text-align: justify;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    // SINGLE
    .single {
      display: flex;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        gap: 40px;
      }
      @include smallScreen {
        flex-direction: column;
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          gap: 50px;
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;

          @include mobile {
            padding: 0;
            margin: 0;
          }
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }

          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }
        h1 {
          font-size: 30px;
          color: #333;

          @include mobile {
            font-size: 25px;
          }
        }
        p {
          text-align: justify;
          line-height: 30px;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include mobile {
          gap: 40px;
        }

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #333;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            background-color: white;
            border: 1px solid teal;
            color: teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    //WRITE
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      @include mobile {
        flex-direction: column;
        gap: 30px;
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }

            :last-child {
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
    //PROFILE
    .profile {
      display: flex;
      gap: 20px;

      @include mobile {
        flex-direction: column;
        gap: 70px;
      }

      .left {
        flex: 1;
        .userInfo {
          display: flex;
          flex-direction: column;
          gap: 20px;

          @include mobile {
            align-items: center;
            gap: 40px;
          }

          .userImage {
            img {
              height: 280px;
              width: 280px;
              border-radius: 50%;
              object-fit: cover;
              align-self: center;
              border: 1px solid $lightGreen;
            }

            .handleUpload {
              display: flex;
              gap: 20px;
              align-items: center;
              .cameraIconContainer {
                background-color: whitesmoke;
                padding: 8px;
                border: 1px solid white;
                border-radius: 50%;
                cursor: pointer;
                width: fit-content;

                .cameraIcon {
                  font-size: 40px;
                  color: purple;
                }
              }

              .thisButton {
                width: 200px;
                border: none;
                background-color: $lightGreen;
                padding: 10px 8px;
                color: whitesmoke;
                font-weight: 700;
                border-radius: 10px;
                cursor: pointer;
              }
            }
          }

          .userText {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3 {
              color: darkgray;
            }

            button {
              border: none;
              background-color: $lightGreen;
              padding: 7px 10px;
              color: whitesmoke;
              font-weight: 700;
              border-radius: 10px;
              cursor: pointer;
            }

            .bottom {
              display: flex;
              flex-direction: column;

              span {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
          .update {
            display: flex;
            flex-direction: column;

            input {
              padding: 10px 8px;
              margin-bottom: 10px;
            }

            textArea {
              padding: 10px 8px;
              margin-bottom: 10px;
            }

            .buttons {
              display: flex;
              gap: 15px;

              :first-child {
                width: 100px;
                border: none;
                background-color: $lightGreen;
                padding: 7px 10px;
                color: whitesmoke;
                font-weight: 700;
                border-radius: 10px;
                cursor: pointer;
              }

              :last-child {
                width: 100px;
                padding: 7px 10px;
                font-weight: 700;
                border-radius: 10px;
                cursor: pointer;
                background-color: white;
                border: 1px solid $lightGreen;
                color: $lightGreen;
              }
            }
          }
        }
      }

      .right {
        flex: 9;
        position: relative;

        h2 {
          position: absolute;
          top: 50%;
          right: 50%;
          left: 50%;
          bottom: 0;
          width: 80%;
        }

        .posts {
          display: flex;
          flex-wrap: wrap;
          gap: 25px;

          @include smallScreen {
            gap: 20px;
          }

          @include mobile {
            gap: 20px;
          }

          .post {
            height: 280px;
            width: 210px;
            border: 1px solid $lightGreen;
            border-radius: 10px;
            @include smallScreen {
              width: 200px;
            }
            @include mobile {
              width: 100%;
              margin-bottom: 10px;
            }

            .postContainer {
              padding: 8px 10px;
              display: flex;
              flex-direction: column;
              gap: 15px;

              img {
                height: 150px;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
              }
              h5 {
                text-align: center;
                height: 50px;
              }
              button {
                border: none;
                background-color: $lightGreen;
                padding: 7px 10px;
                color: whitesmoke;
                font-weight: 700;
                border-radius: 10px;
                width: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    // Comments
    .comments {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include mobile {
        gap: 50px;
      }

      .likeComment {
        display: flex;
        align-items: center;
        gap: 150px;

        @include mobile {
          gap: 80px;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .createComment {
        display: flex;

        gap: 15px;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }

        form {
          display: flex;
          flex: 1;
          .input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex: 1;
            margin-top: 6px;

            input {
              flex: 1;
              padding: 8px 5px;
              outline: none;
              border: 1px solid $lightGreen;
            }
            span {
              font-size: 11px;
            }
          }
        }
      }
      .allComments {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .aComment {
          display: flex;
          align-items: center;
          gap: 20px;

          .img {
            flex: 1;
            display: flex;
            gap: 10px;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
            }
            .desc {
              display: flex;
              flex-direction: column;
              flex: 1;

              span {
                color: black;
                font-weight: bold;
              }
              p {
                display: flex;
              }
            }
          }

          .edge {
            flex: 0.5;
            gap: 10px;
            display: flex;
            align-items: center;

            span {
              color: gray;
              flex: 1;
            }

            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
              border-radius: 50%;
              flex: 0.5;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
